.social-login img {
  width: 24px;
}
a {
  text-decoration: none;
}

.card {
  font-family: sans-serif;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom:3em;
  border-radius: 10px;
  background-color: #ffff;
  padding: 1.8rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
}
.subtitle {
  text-align: center;
  font-weight: bold;
}
.btn-text {
  margin: 0;
}


.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(170 166 166);
}
//
//input[type="text"],
//input[type="password"] {
//  padding: 15px 20px;
//  margin-top: 8px;
//  margin-bottom: 15px;
//  border: 1px solid #ccc;
//  border-radius: 8px;
//  box-sizing: border-box;
//}

.cta-btn {
  background-color:#6c5ce7 ;
  color: #130f40;
  width: 100%;
  border-radius: 20px;
  border: none;

}
.cta-btn:hover {
  background-color: #636e72;
  color:white;

}
.forget-pass {
  text-align: center;
  display: block;
}
.txtInput {
  height: 37px;
  border-radius: 30px;
  border: none;
  background-color: white;
  border-style: none;
  .txtInput:hover {
    height: 37px;
    border-radius: 30px;
    border: none;
    background-color: #f9ca24;
    border-style: none;
  }
}

.text-input-align{
  text-align: center;
  justify-content: center;
  align-items: center;
}

