<div class="admin-body">


  <div class="row">
    <div class="col-md-2 side-1">

        <div class="row row-cols-1 side-box">

          <button  routerLink="/admin/dashboard" routerLinkActive="activated-route" class="btn-1" color="primary">Dashboard</button>


          <button  routerLink="/admin/carsmanage" routerLinkActive="activated-route" class="btn-1" color="primary">Cars</button>


          <button  routerLink="/admin/drivesmanage" routerLinkActive="activated-route" class="btn-1" color="primary">Drivers</button>


          <button  routerLink="/admin/rentalreq" routerLinkActive="activated-route" class="btn-1" color="primary">Rental Request</button>

          <button  routerLink="/admin/returnvehicle" routerLinkActive="activated-route" class="btn-1" color="primary">Return Vehicle</button>

          <button  routerLink="/admin/rentedvehicle" routerLinkActive="activated-route" class="btn-1" color="primary">Booking</button>

          <button  routerLink="/admin/adminprofile" routerLinkActive="activated-route" class="btn-1" color="primary">Admin Profile</button>

          <button  routerLink="/admin/driver" routerLinkActive="activated-route" class="btn-1" color="primary">Driver Shedule</button>

        </div>


    </div>
    <div class="col-6 col-md-10 side-2" >

      <br>
      <br>
      <br>

      <router-outlet>

      </router-outlet>

    </div>
  </div>

</div>
