.header {
  height: 10vh;
  background-color: #333333;
  .nav-bar {
    justify-content: center;
    text-align: center;
    top: 20%;
    position: relative;
    .car-type-click{
      color: white;
    }
    .car-type-click:hover{
      border-bottom: 3px solid #34495e;
      cursor: pointer;
    }
  }
}
.activated-route {
  border-bottom: 3px solid #34495e!important;
}
