<div style="height: 50px;background-color: #333333"></div>
<div style="background-color: #333333">
<div class="container header">
  <div class="row nav-bar">
    <div routerLink="all-cars"  routerLinkActive="activated-route" class="col car-type-click">All Cars</div>
    <div routerLink="general-cars"  routerLinkActive="activated-route" class="col car-type-click">General Cars</div>
    <div routerLink="premium-cars"  routerLinkActive="activated-route" class="col car-type-click">Premium Cars</div>
    <div routerLink="luxury-cars"  routerLinkActive="activated-route" class="col car-type-click">Luxury Cars</div>
  </div>
</div>
<!--  <app-car-manage-page-component></app-car-manage-page-component>-->
<!--  <app-dashboard-page-component></app-dashboard-page-component>-->
<!--  <app-rented-vehicle-page-component></app-rented-vehicle-page-component>-->
<!--  <app-rental-request-manage-page-component></app-rental-request-manage-page-component>-->
<router-outlet></router-outlet>
</div>





