<!--&lt;!&ndash;<mat-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;  <span>My App</span>&ndash;&gt;-->
<!--&lt;!&ndash;  <span class="example-spacer"></span>&ndash;&gt;-->

<!--&lt;!&ndash;</mat-toolbar>&ndash;&gt;-->


<!--<nav *ngIf="showme" class=" col-md-12 nav-main-body navbar fixed-top navbar-expand-sm  navBarMainChange">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand  " style="color: black" >Easy Car Rental</a>-->

<!--    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon bg-dark"></span>-->
<!--    </button>-->
<!--    <div class="navbar-collapse collapse" id="navbarCollapse" style="">-->
<!--      <ul class="nav-body navbar-nav px-3">-->
<!--        <li  class="nav-item px-2 ">-->
<!--          <a  routerLink="/home" routerLinkActive="activated-route" class="btn-nav nav-link "  >-->
<!--            &lt;!&ndash;            <mat-icon>home</mat-icon>&ndash;&gt;-->
<!--            Home</a>-->
<!--        </li>-->
<!--        &lt;!&ndash;        <li class="nav-item px-2">&ndash;&gt;-->
<!--        &lt;!&ndash;          <a routerLink="/car" routerLinkActive="activated-route" class="btn-nav nav-link" >&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;            Car</a>&ndash;&gt;-->
<!--        &lt;!&ndash;        </li>&ndash;&gt;-->
<!--        <li class="nav-item px-2">-->
<!--          <a routerLink="/cars" routerLinkActive="activated-route"  class="btn-nav nav-link" >-->
<!--            &lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;-->
<!--            Cars</a>-->
<!--        </li>-->

<!--        <li  class="disable-reg nav-item px-2" style="   ">-->
<!--          <a routerLink="/register" routerLinkActive="activated-route" style="color:#7f8c8d;" class="btn-nav nav-link" >-->
<!--            &lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;-->
<!--            Registration</a>-->
<!--        </li>-->

<!--&lt;!&ndash;        <li  class=" nav-item px-2" >&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/booking" routerLinkActive="activated-route" class="btn-nav nav-link" >&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            Booking</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->


<!--&lt;!&ndash;        <li class="nav-item px-2">&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/admin" routerLinkActive="activated-route" class="btn-nav nav-link" >&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            Admin</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->

<!--&lt;!&ndash;        <li class="nav-item px-2">&ndash;&gt;-->
<!--&lt;!&ndash;          <a   class="btn-nav nav-link" >&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <mat-icon>directions_car</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            Profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->

<!--        <div class="items" routerLink="/profile"   routerLinkActive="activated-route" >-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--        </div>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<app-nav-page-component></app-nav-page-component>

<router-outlet></router-outlet>
