<div id="nav" class="nav-main-body">

  <ul class="nav-menu">
    <li><a href="#" class="three-d"  routerLink="/home" routerLinkActive="activated-route" >
      Home
      <span class="three"><span class="front">Home</span><span class="back">Home</span></span>
    </a></li>
    <li><a href="#" class="three-d" routerLink="/cars" routerLinkActive="activated-route">
      Cars
      <span class="three"><span class="front">Cars</span><span class="back">Cars</span></span>
    </a></li>


  </ul>

</div>
<div class="items"  routerLink="/profile"   routerLinkActive="activated-route-pro" >
  <mat-icon >account_circle</mat-icon>
</div>


