


<div class="home-bg">
      <div class="container-main">
        <div class="box">
          <div class="container">
          <div class="row">
              <button mat-button class="col-6 txtNames" routerLink="signin" routerLinkActive="activated-route" >sign in</button>
              <button mat-button class="col-6 txtNames" routerLink="signup" routerLinkActive="activated-route" >sign up</button>
          </div>

            <br>
            <br>
            <router-outlet></router-outlet>


          </div>

        </div>
      </div>
<!--  <img style="width: 500px;position:absolute;bottom: 0;right: 0" src="https://cdn.pixabay.com/photo/2018/04/15/12/50/auto-3321670__340.png" alt="">-->
<!--  <img src="../../../assets/login/log-bg-6.png" alt="">-->




</div>



<!--<router-outlet></router-outlet>-->
