<div style="background-color: #333333">
<section>

<div class="home-bg" style="text-align: center">

  <div class="container">
  <div class="row">
    <div class="col-12 display-center-div" style="text-align: left;">
      <h1 class="txt-bg-in" style="color: black;font-size: 54px;">Easy Car Rental</h1>
      <br>
      <br>
      <p class="txt-bg-in" style="color: lightgray; font-size: 12px;text-align: left;font-family: 'Big Shoulders Stencil Display', cursive">Lorem ipsum dolor <br> sit amet,consectetur adipisicing elit.
        <br>Accusantium fuga illum totam. Accusamus beatae blanditiis  dicta exercitationem,<br>  facere fugit itaque laudantium, nam nihil,nostrum officiis placeat
        <br> explicabo voluptatibus!</p>
      <br>
      <br>
      <button class="btn-bg-1" mat-button  routerLink="/cars" >Booking Now</button>

    </div>

  </div>

  </div>
<!--  car imh-->
  <img class="img-set" src="https://cdn.pixabay.com/photo/2019/12/31/20/58/car-4732653__340.png" alt="">



    <div class="social-links">
      <a href=""><i class="fab fa-facebook-f"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-github"></i></a>
      <a href=""><i class="fab fa-linkedin-in"></i></a>
    </div>

  <!--  <h1 class="txt-bg-in" style="color: #34495e;">Easy Car Rental</h1>-->
<!--  <p class="txt-bg-in" style="color: #7f8c8d; font-size: 12px;top:35% ;text-align: center;font-family: 'Big Shoulders Stencil Display', cursive">Lorem ipsum dolor <br> sit amet,consectetur adipisicing elit.-->
<!--    <br>Accusantium fuga illum totam. <br>Accusamus beatae blanditiis  dicta exercitationem,<br> id iure nam quibusdam quis quos,<br> sit unde velit! Ab dolores-->
<!--    <br> explicabo voluptatibus!</p>-->

<!--  <button class="btn-bg-1" mat-button  routerLink="/register" >Booking Now</button>-->
<!--  <img class="img-set" src="https://cdn.pixabay.com/photo/2019/12/31/20/58/car-4732653__340.png" alt="">-->

<!--  <img style="position: absolute;right: 300px;top: 40px;width: 200px" src="https://cdn.pixabay.com/photo/2020/08/11/14/34/greeting-5480092__340.png" alt="">-->
<!--  <img style="width: 100px;position:absolute;top: 220px;left: 350px" src="https://cdn.pixabay.com/photo/2013/07/12/14/50/for-rent-148891__340.png" alt="">-->
  <div class="row">


  </div>

<!--  <div class="container-txt" style="z-index: 9999">-->
<!--    &lt;!&ndash;    <img style="text-align: center;position:absolute;bottom: 10px" src="https://cdn.pixabay.com/photo/2012/04/12/23/48/car-30990__340.png" alt="">&ndash;&gt;-->
<!--    <span class="title">W</span>-->
<!--    <span class="title">E</span>-->
<!--    <span class="title">L</span>-->
<!--    <span class="title">C</span>-->
<!--    <span class="title">O</span>-->
<!--    <span class="title">M</span>-->
<!--    <span class="title">E</span>-->
<!--    <span class="title">:</span>-->
<!--    <span class="title">)</span>-->
<!--  </div>-->


</div>

</section>

  <a href="tel: 0786833903" rel="nofollow" class="btn-call">
    <div class="btn-call__ico">
      <i class="fas fa-phone-alt"></i>
    </div>
  </a>


<br>
  <div style="background-color: #13151a;height: 100vh;display: flex">
    <div style="background-color: #333333;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;margin-top: 20px;width: 100%;justify-content: center;  ">
    <br>
<div class="col-12 container" >
  <h1 style="text-align: center;color:white;font-size:36px;font-family: 'Abril Fatface', cursive;">Easy Car Rental Services</h1>
  <div class="col-md-12" style="text-align: center">
    <div class="col-md-12" style="color: red;font-size: 18px">Sri Lanka</div>
  <p style="text-align: center;color:gainsboro;font-family: 'EB Garamond', serif;">We Have 50 More Cras and do you need a driver You can hire them. Easy Car rental center have three types of cars.<br>Do You need the luxury futures you can get Luxury Type Car<br>Do You need the Medium futures you can get <br>General Type Car <br>Do You need the Budget futures you can get General Type Car<br> You can get the more details cars section or you can get more details contact our Hot Line number<br><b>Enjoy !!</b></p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <section class="box-panel">
        <div class="widget-container">
          <div class="flip-box-3 common-flip-style">
            <div class="box-front common-box-style">

              <div class="box-content-wrapper">
                <img style="width: 300px" src="https://cdn.pixabay.com/photo/2013/07/12/13/21/sports-car-146873__340.png" alt="">

                <!-- 					<div class="box-content">
                            <h1>Hello there !</h1>
                            <p>I am the <strong>front side</strong> of the box.</p>
                          </div> -->
              </div>
            </div>
            <div class="box-back common-box-style box-bgi-effect">
              <div class="box-content-wrapper">
                <div class="box-content">
                  <h1>Hello there !</h1>
                  <p>We rented <strong>Luxury Cars</strong> Best Price</p>

                    <button mat-button href=""  routerLink="{{luxury}}" class="btn-car-selected">Visit Now</button>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col">
      <section class="box-panel">
        <div class="widget-container">
          <div class="flip-box-3 common-flip-style">
            <div class="box-front common-box-style">

              <div class="box-content-wrapper">
                <img style="width: 300px" src="https://cdn.pixabay.com/photo/2016/04/17/22/10/mercedes-benz-1335674__340.png" alt="">

                <!-- 					<div class="box-content">
                            <h1>Hello there !</h1>
                            <p>I am the <strong>front side</strong> of the box.</p>
                          </div> -->
              </div>
            </div>
            <div class="box-back common-box-style box-bgi-effect">
              <div class="box-content-wrapper">
                <div class="box-content">
                  <h1>Hello there !</h1>
                  <p>We rented <strong>premium Cars</strong>Best price.</p>
                  <button mat-button  class="btn-car-selected" href=""routerLink="/cars/premium-cars" >Visit Now</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col">
      <section class="box-panel">
        <div class="widget-container">
          <div class="flip-box-3  common-flip-style">

            <div class="box-front common-box-style">
              <div class="box-content-wrapper">
                <img style="width: 300px" src="https://cdn.pixabay.com/photo/2012/04/13/20/37/car-33556__340.png" alt="">

                <!-- 					<div class="box-content">
                            <h1>Hello there !</h1>
                            <p>I am the <strong>front side</strong> of the box.</p>
                          </div> -->
              </div>
            </div>
            <div class="box-back common-box-style box-bgi-effect">
              <div class="box-content-wrapper">
                <div class="box-content">
                  <h1>Hello there !</h1>
                  <p>We rented <strong>General Car</strong> Best Price.</p>
                  <button mat-button href="" routerLink="/cars/general-cars"  class="btn-car-selected">Visit Now </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>
  </div>
</div>
<!--<app-car-page-component></app-car-page-component>-->
<!--<br>-->
<app-footer-page-component></app-footer-page-component>



